/* Empty. Add your own CSS if you like */

map {
	display: black;
	width: 100%;
	height: 100%;
}

.scroll {
	height: 100%;
}

.angular-google-map-container {
	display: block;
	width: 100%;
	height: 100%;
}

.angular-google-map {
	display: block;
	width: 100%;
	height: 100%;
}

.marker-labels {
	color: red;
	background-color: white;
	font-family: "Lucide Grande", "Arial", sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	border: 1px solid black;
	white-space: nowrap;
	padding-left: 3px;
	padding-right: 3px;
}

.allow-bullets ul {
	list-style-type: disc;
	padding-left: 20px;
}